<body class="hold-transition login-page">
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a routerLink="/" class="h1"><b>Angular</b>LTE</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Şifrenizimi unuttunuz? Mail adresinizi girerek yeni şifrenizi oluşturabilirsiniz.</p>
            <div class="input-group mb-3">
              <input [(ngModel)]="model.emailOrUserName" type="email" class="form-control" placeholder="Email veya Kullanıcı adı">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button (click)="forgotPassword()" class="btn btn-primary btn-block">Yeni şifre gönder</button>
              </div>
            </div>
          <p class="mt-3 mb-1">
            <a routerLink="/login">Giriş sayfasına git</a>
          </p>
        </div>
      </div>
    </div>

    </body>