.img-bordered {
    border: 3px solid rgb(231, 231, 231); /* Çerçevenin kalınlığı ve rengi */
    padding: 0px; /* Görüntü ile çerçeve arasındaki boşluk */
    border-radius: 50%; /* Görüntüyü dairesel yapmak için */
  }