<app-blank [routes]="['Kullanıcı İşlemleri','Şifre Değiştirme']" pageName="Kullanıcı İşlemleri">
  <app-section sectionTitle="Şifre Değiştirme">
      <div class="login-box" style="margin:auto">
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a routerLink="/" class="h1"><b>Angular</b>LTE</a>
          </div>
          <div class="card-body">
            <p class="login-box-msg">
              Yeni şifrenizi aşağıdaki kutulara girerek değiştirebilirsiniz.
            </p>
            <div class="input-group mb-3">
              <input
                [(ngModel)]="model.currentPassword"
                type="password"
                class="form-control"
                placeholder="Mevcut Şifre"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                [(ngModel)]="model.newPassword"
                type="password"
                class="form-control"
                placeholder="Yeni Şifre"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button
                  (click)="changePassword()"
                  class="btn btn-primary btn-block"
                >
                  Şifreyi değiştir
                </button>
              </div>
            </div>
            <p class="mt-3 mb-1">
              <a routerLink="/login">Giriş sayfasına git</a>
            </p>
          </div>
        </div>
      </div>
  </app-section>
</app-blank>
